<div class="amazing-word panel panel-default" style="width:275px; margin: 0 5px 10px 5px;">
  <div class="panel-body">
    <h2 style="word-break:break-all">
      <%= link_to amazing_word.word, amazing_word, title: amazing_word.pronunciation %>
    </h2>
    <p>
      <%= simple_format h(amazing_word.description) %>
    </p>

    <small class="text-muted">
      Posted by <%= link_to amazing_word.contributor.username, amazing_word.contributor %> at <%= amazing_word.created_at.to_s(:db) %>
    </small>
  </div>
</div>