<% provide :title, 'Edit' %>
<h1>Edit</h1>

<%= form_for(@amazing_word, class: 'form-horizontal', role: 'form') do |f| %>
  <% if @amazing_word.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @amazing_word.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :word %>
    <%= f.text_field :word, class: 'form-control', required: true, placeholder: '必須入力' %>
  </div>
  <div class="form-group">
    <%= f.label :pronunciation %>
    <%= f.text_field :pronunciation, class: 'form-control', required: true, placeholder: '必須入力' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', row: 10, required: true, placeholder: '必須入力' %>
  </div>
  <%= f.submit '編集', class: 'btn btn-default', data: { disable_with: '作成中' } %>
<% end %>