<h1>

<ruby>
<rb><%= @amazing_word.word %></rb>
<rp>（</rp>
<rt style="text-justify: distribute;"><%= @amazing_word.pronunciation %></rt>
<rp>）</rp>
</ruby>
</h1>
<% if current_user && @amazing_word.contributor_id == current_user.id %>
  <%= link_to 'edit', edit_amazing_word_path(@amazing_word) %>
<% end %>