/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap.min
 *= require font-awesome
 *= require_self
 */

#infscr-loading {
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 45%;
  bottom: 40px;
  width: 200px;
  padding: 10px;
  background: #000; 
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

body > header > nav {
  background: #fff;
  border-bottom: 1px solid #eee;
}

body > header a:link,
body > header a:visited {
  color: #678;
}
body > header a:hover,
body > header a:active {
  color: #f81;
}

body {
  padding-top: 70px; /* Header height + 20*/
  background: #fafafa;
}
body, html,
body > div.container-fluid,
body > div.container-fluid main {
  height: 100%;
}
