<!DOCTYPE html>
<html>
<head lang="ja">
  <meta charset="UTF-8">
<!--
        ┃
        ┣┓
      ┏┛┗┓
      ┃    ┃      ┃    ┃      ┃    ┏━━┓      ┏━━━    ┏━━┓      ┏━━━┳━━┓      ┏━━┓
    ┏┛    ┃      ┃    ┣┓    ┃  ┏┛    ┃    ━┫          ┃    ┗┓    ┃      ┃    ┃    ┏┛    ┃
    ┣━━━┻┓    ┗┓  ┃┃  ┏┛  ┣━━━┛      ┗┓      ━┫      ┃    ┃      ┃    ┃    ┣━━━┛
    ┃        ┃      ┗┳┛┗┳┛    ┃                ┗━┓    ┃      ┃    ┃      ┃    ┃    ┃
  ┏┛        ┗┓    ━┛    ┃      ┗┓    ┏━  ┃      ┃    ┃      ┃    ┃      ┃    ┃    ┗┓    ┏━
  ┃            ┃                      ┗━━┛    ┗━━━┛    ┗━━━┛            ┃            ┗━━┛

    ┏━━━┓
  ┏┛      ┗━━
  ┃
  ┃                  ┏━━┓      ┏━━┓    ┃  ┏━    ┏━━┳━  ┏━━┓
  ┃      ━━┓    ┏┛    ┃    ┏┛    ┗┓  ┣━┛    ┏┛    ┃    ┃    ┗┓
  ┃          ┃    ┣━━━┛  ━┫        ┃  ┃        ┗┓  ┏┛    ┣━━━┛
  ┗┓        ┃    ┃            ┃        ┃  ┃        ┏┻━┛      ┃
    ┗┓      ┃    ┗┓    ┏━  ┗┓    ┏┛  ┃        ┣┓          ┃      ┃
      ┗━━━┛      ┗━━┛      ┗━━┛    ┃        ┃┗━━┓    ┗━━━┛
                                                        ━┫      ┣━
                                                          ┗━━━┛
-->
  <title><%= content_for?(:title) ? "#{yield(:title)} | AwesomeGeorge" : "AwesomeGeorge"%></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'Awesome George', root_path, class: 'navbar-brand' %>
      </div>

      <div class="collapse navbar-collapse" id="navbarEexample7">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to 'Post', new_amazing_word_path %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path %></li>
          <% else %>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <li><%= link_to 'Sign in', user_session_path %></li>
          <% end %>
        </ul>
        <% if user_signed_in? %>
          <p class="navbar-text navbar-right">ようこそ <%= link_to current_user.username, current_user %> さん。</p>
        <% end %>
      </div>
    </div>
  </nav>
</header>

<div class="container-fluid">
  <% if notice %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger">
      <%= fa_icon('exclamation-triangle') + ' ' + alert %>
    </div>
  <% end %>

  <main>
    <%= yield %>
  </main>
</div>

<footer>

</footer>
</body>
</html>
